In [1]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [2]:
i = 0
while i <= 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1, 8):
    print('@' * i)

@
@@
@@@
@@@@
@@@@@
@@@@@@
@@@@@@@

In [4]:
for i in range(8):
    for j in range(8):
        print("#", end=" ")
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [5]:
for i in range(11):
    result = i * i
    print(f"{i} x {i} = {result}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [6]:
my_list = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']

for item in my_list:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [8]:
for i in range(0, 25, 2):
    print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24

In [9]:
for i in range(1, 26, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25

In [10]:
total_sum = 0
for i in range(101):
    total_sum += i

print("The sum of numbers from 0 to 100 is:", total_sum)

The sum of numbers from 0 to 100 is: 5050

In [11]:
sum_even = 0
sum_odd = 0

for i in range(101):
    if i % 2 == 0:
        sum_even += i
    else:
        sum_odd += i

print("Sum of even numbers from 0 to 100:", sum_even)
print("Sum of odd numbers from 0 to 100:", sum_odd)

Sum of even numbers from 0 to 100: 2550
Sum of odd numbers from 0 to 100: 2500